backend/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webServices.sitioWeb.crp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webServices.sitioWeb.crp.com/" name="wsService">
<types>
<xsd:schema>
<xsd:import namespace="http://webServices.sitioWeb.crp.com/" schemaLocation="http://test.sisnet.com.uy:8062/EfacturaWeb/wsService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="version">
<part name="parameters" element="tns:version"></part>
</message>
<message name="versionResponse">
<part name="parameters" element="tns:versionResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="status">
<part name="parameters" element="tns:status"></part>
</message>
<message name="statusResponse">
<part name="parameters" element="tns:statusResponse"></part>
</message>
<message name="recepcionCFE">
<part name="parameters" element="tns:recepcionCFE"></part>
</message>
<message name="recepcionCFEResponse">
<part name="parameters" element="tns:recepcionCFEResponse"></part>
</message>
<message name="recepcionCFEConCae">
<part name="parameters" element="tns:recepcionCFEConCae"></part>
</message>
<message name="recepcionCFEConCaeResponse">
<part name="parameters" element="tns:recepcionCFEConCaeResponse"></part>
</message>
<message name="recepcionCFEConCaeFF">
<part name="parameters" element="tns:recepcionCFEConCaeFF"></part>
</message>
<message name="recepcionCFEConCaeFFResponse">
<part name="parameters" element="tns:recepcionCFEConCaeFFResponse"></part>
</message>
<message name="obtenerCAE">
<part name="parameters" element="tns:obtenerCAE"></part>
</message>
<message name="obtenerCAEResponse">
<part name="parameters" element="tns:obtenerCAEResponse"></part>
</message>
<message name="obtenerCAEContingencia">
<part name="parameters" element="tns:obtenerCAEContingencia"></part>
</message>
<message name="obtenerCAEContingenciaResponse">
<part name="parameters" element="tns:obtenerCAEContingenciaResponse"></part>
</message>
<message name="impresionLibre">
<part name="parameters" element="tns:impresionLibre"></part>
</message>
<message name="impresionLibreResponse">
<part name="parameters" element="tns:impresionLibreResponse"></part>
</message>
<message name="impresionLibreClienteGenerar">
<part name="parameters" element="tns:impresionLibreClienteGenerar"></part>
</message>
<message name="impresionLibreClienteGenerarResponse">
<part name="parameters" element="tns:impresionLibreClienteGenerarResponse"></part>
</message>
<message name="impresionLibreClienteObtenerPDF">
<part name="parameters" element="tns:impresionLibreClienteObtenerPDF"></part>
</message>
<message name="impresionLibreClienteObtenerPDFResponse">
<part name="parameters" element="tns:impresionLibreClienteObtenerPDFResponse"></part>
</message>
<message name="obtenerEstadoCFE">
<part name="parameters" element="tns:obtenerEstadoCFE"></part>
</message>
<message name="obtenerEstadoCFEResponse">
<part name="parameters" element="tns:obtenerEstadoCFEResponse"></part>
</message>
<message name="anularNumerador">
<part name="parameters" element="tns:anularNumerador"></part>
</message>
<message name="anularNumeradorResponse">
<part name="parameters" element="tns:anularNumeradorResponse"></part>
</message>
<message name="GenerarCaeDePrueba">
<part name="parameters" element="tns:GenerarCaeDePrueba"></part>
</message>
<message name="GenerarCaeDePruebaResponse">
<part name="parameters" element="tns:GenerarCaeDePruebaResponse"></part>
</message>
<message name="recepcionCFESimpleFF">
<part name="parameters" element="tns:recepcionCFESimpleFF"></part>
</message>
<message name="recepcionCFESimpleFFResponse">
<part name="parameters" element="tns:recepcionCFESimpleFFResponse"></part>
</message>
<message name="recepcionCFESimple">
<part name="parameters" element="tns:recepcionCFESimple"></part>
</message>
<message name="recepcionCFESimpleResponse">
<part name="parameters" element="tns:recepcionCFESimpleResponse"></part>
</message>
<message name="ReImpresionCFE">
<part name="parameters" element="tns:ReImpresionCFE"></part>
</message>
<message name="ReImpresionCFEResponse">
<part name="parameters" element="tns:ReImpresionCFEResponse"></part>
</message>
<message name="ReImpresionCFEConCAE">
<part name="parameters" element="tns:ReImpresionCFEConCAE"></part>
</message>
<message name="ReImpresionCFEConCAEResponse">
<part name="parameters" element="tns:ReImpresionCFEConCAEResponse"></part>
</message>
<message name="obtenerEstadoCFEConCAE">
<part name="parameters" element="tns:obtenerEstadoCFEConCAE"></part>
</message>
<message name="obtenerEstadoCFEConCAEResponse">
<part name="parameters" element="tns:obtenerEstadoCFEConCAEResponse"></part>
</message>
<message name="obtenerEstadoCFEIdOC">
<part name="parameters" element="tns:obtenerEstadoCFEIdOC"></part>
</message>
<message name="obtenerEstadoCFEIdOCResponse">
<part name="parameters" element="tns:obtenerEstadoCFEIdOCResponse"></part>
</message>
<message name="obtenerEstadoCFEFirmaTipo">
<part name="parameters" element="tns:obtenerEstadoCFEFirmaTipo"></part>
</message>
<message name="obtenerEstadoCFEFirmaTipoResponse">
<part name="parameters" element="tns:obtenerEstadoCFEFirmaTipoResponse"></part>
</message>
<message name="statusProd">
<part name="parameters" element="tns:statusProd"></part>
</message>
<message name="statusProdResponse">
<part name="parameters" element="tns:statusProdResponse"></part>
</message>
<message name="statusTest">
<part name="parameters" element="tns:statusTest"></part>
</message>
<message name="statusTestResponse">
<part name="parameters" element="tns:statusTestResponse"></part>
</message>
<message name="impresionLibreClienteGenerarTkEspera">
<part name="parameters" element="tns:impresionLibreClienteGenerarTkEspera"></part>
</message>
<message name="impresionLibreClienteGenerarTkEsperaResponse">
<part name="parameters" element="tns:impresionLibreClienteGenerarTkEsperaResponse"></part>
</message>
<message name="ObtenerXML">
<part name="parameters" element="tns:ObtenerXML"></part>
</message>
<message name="ObtenerXMLResponse">
<part name="parameters" element="tns:ObtenerXMLResponse"></part>
</message>
<message name="ObtenerPDF">
<part name="parameters" element="tns:ObtenerPDF"></part>
</message>
<message name="ObtenerPDFResponse">
<part name="parameters" element="tns:ObtenerPDFResponse"></part>
</message>
<message name="ObtenerRangoCAE">
<part name="parameters" element="tns:ObtenerRangoCAE"></part>
</message>
<message name="ObtenerRangoCAEResponse">
<part name="parameters" element="tns:ObtenerRangoCAEResponse"></part>
</message>
<message name="ObtenerPDFConCAE">
<part name="parameters" element="tns:ObtenerPDFConCAE"></part>
</message>
<message name="ObtenerPDFConCAEResponse">
<part name="parameters" element="tns:ObtenerPDFConCAEResponse"></part>
</message>
<message name="ObtenerPDFMulti">
<part name="parameters" element="tns:ObtenerPDFMulti"></part>
</message>
<message name="ObtenerPDFMultiResponse">
<part name="parameters" element="tns:ObtenerPDFMultiResponse"></part>
</message>
<message name="GeneracionAutomaticaCFE">
<part name="parameters" element="tns:GeneracionAutomaticaCFE"></part>
</message>
<message name="GeneracionAutomaticaCFEResponse">
<part name="parameters" element="tns:GeneracionAutomaticaCFEResponse"></part>
</message>
<message name="reporteDiario_ObtenerEstado">
<part name="parameters" element="tns:reporteDiario_ObtenerEstado"></part>
</message>
<message name="reporteDiario_ObtenerEstadoResponse">
<part name="parameters" element="tns:reporteDiario_ObtenerEstadoResponse"></part>
</message>
<message name="obtenerListaEstadoCFE">
<part name="parameters" element="tns:obtenerListaEstadoCFE"></part>
</message>
<message name="obtenerListaEstadoCFEResponse">
<part name="parameters" element="tns:obtenerListaEstadoCFEResponse"></part>
</message>
<message name="obtenerCantidadDisponible">
<part name="parameters" element="tns:obtenerCantidadDisponible"></part>
</message>
<message name="obtenerCantidadDisponibleResponse">
<part name="parameters" element="tns:obtenerCantidadDisponibleResponse"></part>
</message>
<message name="obtenerValorUI">
<part name="parameters" element="tns:obtenerValorUI"></part>
</message>
<message name="obtenerValorUIResponse">
<part name="parameters" element="tns:obtenerValorUIResponse"></part>
</message>
<portType name="ws">
<operation name="version">
<input message="tns:version"></input>
<output message="tns:versionResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="status">
<input message="tns:status"></input>
<output message="tns:statusResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="recepcionCFE">
<input message="tns:recepcionCFE"></input>
<output message="tns:recepcionCFEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="recepcionCFEConCae">
<input message="tns:recepcionCFEConCae"></input>
<output message="tns:recepcionCFEConCaeResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="recepcionCFEConCaeFF">
<input message="tns:recepcionCFEConCaeFF"></input>
<output message="tns:recepcionCFEConCaeFFResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerCAE">
<input message="tns:obtenerCAE"></input>
<output message="tns:obtenerCAEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerCAEContingencia">
<input message="tns:obtenerCAEContingencia"></input>
<output message="tns:obtenerCAEContingenciaResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="impresionLibre">
<input message="tns:impresionLibre"></input>
<output message="tns:impresionLibreResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="impresionLibreClienteGenerar">
<input message="tns:impresionLibreClienteGenerar"></input>
<output message="tns:impresionLibreClienteGenerarResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="impresionLibreClienteObtenerPDF">
<input message="tns:impresionLibreClienteObtenerPDF"></input>
<output message="tns:impresionLibreClienteObtenerPDFResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerEstadoCFE">
<input message="tns:obtenerEstadoCFE"></input>
<output message="tns:obtenerEstadoCFEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="anularNumerador">
<input message="tns:anularNumerador"></input>
<output message="tns:anularNumeradorResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="GenerarCaeDePrueba">
<input message="tns:GenerarCaeDePrueba"></input>
<output message="tns:GenerarCaeDePruebaResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="recepcionCFESimpleFF">
<input message="tns:recepcionCFESimpleFF"></input>
<output message="tns:recepcionCFESimpleFFResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="recepcionCFESimple">
<input message="tns:recepcionCFESimple"></input>
<output message="tns:recepcionCFESimpleResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ReImpresionCFE">
<input message="tns:ReImpresionCFE"></input>
<output message="tns:ReImpresionCFEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ReImpresionCFEConCAE">
<input message="tns:ReImpresionCFEConCAE"></input>
<output message="tns:ReImpresionCFEConCAEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerEstadoCFEConCAE">
<input message="tns:obtenerEstadoCFEConCAE"></input>
<output message="tns:obtenerEstadoCFEConCAEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerEstadoCFEIdOC">
<input message="tns:obtenerEstadoCFEIdOC"></input>
<output message="tns:obtenerEstadoCFEIdOCResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerEstadoCFEFirmaTipo">
<input message="tns:obtenerEstadoCFEFirmaTipo"></input>
<output message="tns:obtenerEstadoCFEFirmaTipoResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="statusProd">
<input message="tns:statusProd"></input>
<output message="tns:statusProdResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="statusTest">
<input message="tns:statusTest"></input>
<output message="tns:statusTestResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="impresionLibreClienteGenerarTkEspera">
<input message="tns:impresionLibreClienteGenerarTkEspera"></input>
<output message="tns:impresionLibreClienteGenerarTkEsperaResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerXML">
<input message="tns:ObtenerXML"></input>
<output message="tns:ObtenerXMLResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerPDF">
<input message="tns:ObtenerPDF"></input>
<output message="tns:ObtenerPDFResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerRangoCAE">
<input message="tns:ObtenerRangoCAE"></input>
<output message="tns:ObtenerRangoCAEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerPDFConCAE">
<input message="tns:ObtenerPDFConCAE"></input>
<output message="tns:ObtenerPDFConCAEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="ObtenerPDFMulti">
<input message="tns:ObtenerPDFMulti"></input>
<output message="tns:ObtenerPDFMultiResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="GeneracionAutomaticaCFE">
<input message="tns:GeneracionAutomaticaCFE"></input>
<output message="tns:GeneracionAutomaticaCFEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="reporteDiario_ObtenerEstado">
<input message="tns:reporteDiario_ObtenerEstado"></input>
<output message="tns:reporteDiario_ObtenerEstadoResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerListaEstadoCFE">
<input message="tns:obtenerListaEstadoCFE"></input>
<output message="tns:obtenerListaEstadoCFEResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerCantidadDisponible">
<input message="tns:obtenerCantidadDisponible"></input>
<output message="tns:obtenerCantidadDisponibleResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
<operation name="obtenerValorUI">
<input message="tns:obtenerValorUI"></input>
<output message="tns:obtenerValorUIResponse"></output>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
</portType>
<binding name="wsPortBinding" type="tns:ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="version">
<soap:operation soapAction="Version de eFactura"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="status">
<soap:operation soapAction="Status del WS"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="recepcionCFE">
<soap:operation soapAction="Disenado para recepcionar los Comprobantes Fiscales Electronicos."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="recepcionCFEConCae">
<soap:operation soapAction="Disenado para recepcionar los Comprobantes Fiscales Electronicos Con CAE."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="recepcionCFEConCaeFF">
<soap:operation soapAction="Disenado para recepcionar los Comprobantes Fiscales Electronicos Con CAE devolviendo Fecha de Firma."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerCAE">
<soap:operation soapAction="Encargado de entregar numeros de CAE (Constancia de Autorizacion de Emision) "></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerCAEContingencia">
<soap:operation soapAction="Encargado de entregar numeros de CAE Contingencia (Constancia de Autorizacion de Emision) "></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="impresionLibre">
<soap:operation soapAction="Utilizado para imprimir vouchers"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="impresionLibreClienteGenerar">
<soap:operation soapAction="Utilizado para imprimir vauchers"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="impresionLibreClienteObtenerPDF">
<soap:operation soapAction="Utilizado para imprimir vauchers"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEstadoCFE">
<soap:operation soapAction="Utilizado para obtener el estado de cada comprobante."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="anularNumerador">
<soap:operation soapAction="Utilizado para obtener el estado de cada comprobante."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="GenerarCaeDePrueba">
<soap:operation soapAction="Utilizado para reimprimir un Comprobante"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="recepcionCFESimpleFF">
<soap:operation soapAction="Disenado para recepcionar los Comprobantes Fiscales Electronicos Sin CAE devolviendo FechaFirma."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="recepcionCFESimple">
<soap:operation soapAction="Disenado para recepcionar los Comprobantes Fiscales Electronicos Sin CAE."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ReImpresionCFE">
<soap:operation soapAction="Utilizado para reimprimir un Comprobante"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ReImpresionCFEConCAE">
<soap:operation soapAction="Utilizado para reimprimir un Comprobante"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEstadoCFEConCAE">
<soap:operation soapAction="Utilizado para obtener el estado de cada comprobante."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEstadoCFEIdOC">
<soap:operation soapAction="Utilizado para obtener el estado de cada comprobante porIdOrden de Compra."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEstadoCFEFirmaTipo">
<soap:operation soapAction="Utilizado para obtener el estado de cada comprobante por Fecha de Firma y Tipo."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="statusProd">
<soap:operation soapAction="Utilizado para obtener el estatus del Sistema apuntando a PRODUCCION"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="statusTest">
<soap:operation soapAction="Utilizado para obtener el estatus del Sistema apuntando a TESTING"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="impresionLibreClienteGenerarTkEspera">
<soap:operation soapAction="Utilizado para generar tickets en espera"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerXML">
<soap:operation soapAction="Obtener CFE en formato XML"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerPDF">
<soap:operation soapAction="Obtener CFE en formato PDF"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerRangoCAE">
<soap:operation soapAction="Obtener rango de numeracion cargado"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerPDFConCAE">
<soap:operation soapAction="Obtener CFE en formato PDF"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ObtenerPDFMulti">
<soap:operation soapAction="Obtener CFE en formato PDF"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="GeneracionAutomaticaCFE">
<soap:operation soapAction="Uso Interno SISNET"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="reporteDiario_ObtenerEstado">
<soap:operation soapAction="Estado de comprobantes emitidos a Otros Emisores"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerListaEstadoCFE">
<soap:operation soapAction="Utilizado para obtener el estado de un rango de comprobantes."></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerCantidadDisponible">
<soap:operation soapAction="Devuelve la cantidad de CAE disponibles para facturar"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerValorUI">
<soap:operation soapAction="Utilizado para obtener el valor de la UI para una fecha dada"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="wsService">
<port name="wsPort" binding="tns:wsPortBinding">
<soap:address location="http://test.sisnet.com.uy:8062/EfacturaWeb/wsService"></soap:address>
</port>
</service>
</definitions>